<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demo/src/com/gc/android/market/api/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gc.android.market.api.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="buildhappy@gmail.com cai545114597412 -q1w2e3r4t5y6u7i8 2 7878887740798669019"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="demo"/>
</launchConfiguration>
