<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Response01OutputStream</servlet-name>
  	<display-name>Response01OutputStream</display-name>
  	<description></description>
  	<servlet-class>response.Response01OutputStream</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response03Download</servlet-name>
  	<display-name>Response03Download</display-name>
  	<description></description>
  	<servlet-class>response.Response03Download</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response02Writer</servlet-name>
  	<display-name>Response02Writer</display-name>
  	<description></description>
  	<servlet-class>response.Response02Writer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response04Image</servlet-name>
  	<display-name>Response04Image</display-name>
  	<description></description>
  	<servlet-class>response.Response04Image</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response05Refresh</servlet-name>
  	<display-name>Response05Refresh</display-name>
  	<description></description>
  	<servlet-class>response.Response05Refresh</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response06Redirect</servlet-name>
  	<display-name>Response06Redirect</display-name>
  	<description></description>
  	<servlet-class>response.Response06Redirect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response07</servlet-name>
  	<display-name>Response07</display-name>
  	<description></description>
  	<servlet-class>response.Response07</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response08</servlet-name>
  	<display-name>Response08</display-name>
  	<description></description>
  	<servlet-class>response.Response08</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Response09</servlet-name>
  	<display-name>Response09</display-name>
  	<description></description>
  	<servlet-class>response.Response09</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request02GetHeader</servlet-name>
  	<display-name>Request02GetHeader</display-name>
  	<description></description>
  	<servlet-class>request.Request02GetHeader</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request02</servlet-name>
  	<display-name>Request02</display-name>
  	<description></description>
  	<servlet-class>request.Request02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request03</servlet-name>
  	<display-name>Request03</display-name>
  	<description></description>
  	<servlet-class>request.Request03</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request04</servlet-name>
  	<display-name>Request04</display-name>
  	<description></description>
  	<servlet-class>request.Request04</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request05Form</servlet-name>
  	<display-name>Request05Form</display-name>
  	<description></description>
  	<servlet-class>request.Request05Form</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request06Encoding</servlet-name>
  	<display-name>Request06Encoding</display-name>
  	<description></description>
  	<servlet-class>request.Request06Encoding</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request07</servlet-name>
  	<display-name>Request07</display-name>
  	<description></description>
  	<servlet-class>request.Request07</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request08Forward</servlet-name>
  	<display-name>Request08Forward</display-name>
  	<description></description>
  	<servlet-class>request.Request08Forward</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request09Forward2</servlet-name>
  	<display-name>Request09Forward2</display-name>
  	<description></description>
  	<servlet-class>request.Request09Forward2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Request10Include</servlet-name>
  	<display-name>Request10Include</display-name>
  	<description></description>
  	<servlet-class>request.Request10Include</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletURL</servlet-name>
  	<display-name>ServletURL</display-name>
  	<description></description>
  	<servlet-class>ServletURL</servlet-class>
  </servlet>


  <servlet-mapping>
  	<servlet-name>Response01OutputStream</servlet-name>
  	<url-pattern>/Response01OutputStream</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response02Writer</servlet-name>
  	<url-pattern>/Response02Writer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response03Download</servlet-name>
  	<url-pattern>/Response03Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response04Image</servlet-name>
  	<url-pattern>/Response04Image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response05Refresh</servlet-name>
  	<url-pattern>/Response05Refresh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response06Redirect</servlet-name>
  	<url-pattern>/Response06Redirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response07</servlet-name>
  	<url-pattern>/Response07</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response08</servlet-name>
  	<url-pattern>/Response08</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Response09</servlet-name>
  	<url-pattern>/Response09</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request02GetHeader</servlet-name>
  	<url-pattern>/Request02GetHeader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request02</servlet-name>
  	<url-pattern>/Request02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request03</servlet-name>
  	<url-pattern>/Request03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request04</servlet-name>
  	<url-pattern>/Request04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request05Form</servlet-name>
  	<url-pattern>/Request05Form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request06Encoding</servlet-name>
  	<url-pattern>/Request06Encoding</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request07</servlet-name>
  	<url-pattern>/Request07</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request08Forward</servlet-name>
  	<url-pattern>/Request08Forward</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request09Forward2</servlet-name>
  	<url-pattern>/Request09Forward2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Request10Include</servlet-name>
  	<url-pattern>/Request10Include</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletURL</servlet-name>
  	<url-pattern>/ServletURL</url-pattern>
  </servlet-mapping>
</web-app>